// To apply simple color overrides to the styling of the default preset or define some color variables for using later,
// you can create a .vuepress/styles/palette.styl file.
// There are some color variables you can tweak:
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

$navbarHeight = 3rem